
@{
    ViewData["Title"] = "Meu Dashboard";
}

<h2>@ViewData["Title"]</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>



<div id="canvas-holder" style="width:60%">
    <canvas id="chart-area"></canvas>
</div>

<script>
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
    };

    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    @Html.Raw(@ViewBag.ValoresData)
                ],
                backgroundColor: [@Html.Raw(ViewBag.ValoresCores)],
                label: 'Dataset 1'
            }],
            labels: [@Html.Raw(ViewBag.ValoresLabels)]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

</script>



