@model UsuarioModel

<h1>Registrar Usuário</h1>
<br />

<form asp-controller="Usuario" asp-action="Registrar">
    <div class="form-group">
        <label for="email">Nome Completo</label>
        <input type="text" class="form-control" placeholder="Enter Name" asp-for="Nome">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" asp-for="Email">
    </div>
    <div class="form-group">
        <label for="pwd">Senha</label>
        <input type="password" class="form-control" placeholder="Enter password" asp-for="Senha">
    </div>
    <div class="form-group">
        <label for="pwd">Data de Nascimento</label>
        <input type="date" class="form-control" placeholder="Enter Date Bird" asp-for="DataNascimento">
    </div>
    <button type="submit" class="btn btn-block btn-success">Registrar</button>
</form>