
@{
    ViewData["Title"] = "Conta - ";
}

<h2>Index - Contas Cadastradas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>NOME</th>
            <th>SALDO</th>
        </tr>
    </thead>
    @{ 
        foreach (var item in (List<ContaModel>)ViewBag.ListaContaController)
        {
            <tbody>
                <tr>
                    <td><button type="button" class="btn btn-danger">Excluir</button></td>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Nome.ToString()</td>
                    <td>@item.Saldo.ToString()</td>
                </tr>
            </tbody>
        }
    }
</table>


